<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515288351370-270oc4j3behuph3d2krjbvnf07p3ll7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515288351370-270oc4j3behuph3d2krjbvnf07p3ll7r</string>
	<key>API_KEY</key>
	<string>AIzaSyCnY6tG1QcsAcH_YjxAILsLnWcVZG8RS2M</string>
	<key>GCM_SENDER_ID</key>
	<string>515288351370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anupama.wakemeup</string>
	<key>PROJECT_ID</key>
	<string>wake-me-up-664eb</string>
	<key>STORAGE_BUCKET</key>
	<string>wake-me-up-664eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515288351370:ios:329ede4b330c2c81c66373</string>
</dict>
</plist>